<div class="container" style="text-align: center ; margin-top:10rem">
  <h1 style="margin-bottom: 5rem;">URL Shortener</h1>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="link-img"
    style="width: 5rem; height: 5rem; margin-bottom: 3rem;">
  <div>
    <input type="text" required>
    <button type="submit">Shorten</button>
  </div>
</div>