<div class="container">
  <div class="title-img-wrapper">
    <a href="/">
      <h1>URL Shortener</h1>
    </a>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="link-img">
  </div>
  <div class="content-wrapper">
    <form action="/" method="post">
      <input type="text" required="required" name="original_URL" placeholder="Input URL here!">
      <button type="submit" class="btn btn-primary">Shorten</button>
    </form>
  </div>
</div>