<div class="container">
  <div class="title-img-wrapper">
    <a href="/">
      <h1>URL Shortener</h1>
    </a>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="link-img">
  </div>
  <div class="content-wrapper">
    <div class="text-wrapper">
      <p class="result-message">Success! Please use this link:</p>
      <p id="copyText" class="newURL">{{newURL}}</p>
      <input type="button" class="btn btn-primary" onclick="copyLink()" data-toggle="tooltip" title="Copy to Clipboard"
        value="Copy" readonly />
    </div>
  </div>
</div>

<script>
  function copyLink() {
    let copyText = document.getElementById("copyText")
    const selection = window.getSelection();
    const range = document.createRange();
    range.selectNodeContents(copyText);
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand('copy');
    alert('Link is copied!')
  }
</script>